@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;


}


:root {
    --primary-color: #84c9e4;
    --bg-color: #151b1d;
    --secound-bg-color: #c4cace;
    --text-color: #ededed;
    --main-color:#00abf0; 
}

html {
    font-size: 50%;
    overflow-x: hidden;
}




body {
    background: var(--bg-color);
    color: var(--text-color);
    
    background: #1d1e23;
    
    

    
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    /* background: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background:rgba(0, 0, 0, .1);
    backdrop-filter: blur(4px);
    transition: .3s;
}



.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transition: 1s;
}

.header:hover::after {
    left: 100%;
}




.logo {
    position: relative;
    font-size: 3rem;
    color:  #faf8f6a1; /* Neon pink color, you can adjust this to your preference */
    font-weight: 700;
    text-shadow: 0 0 15px  #faf7f3a1, 0 0 25px  #ffffffa1, 0 0 35px  #ffffffa1; /* Adding a constant glowing effect */
}



.navbar {
    position: relative;
}



.navbar a {
    
    font-size: 2.4rem;
    color: hsla(0, 16%, 94%, 0.783);
    font-weight: 600;
    text-decoration: none;
    margin-left: 4rem;
    letter-spacing: 0.5px;
    transition: color 0.7s ease, text-shadow 0.6s ease;
    
    
}


.navbar a:hover,
.navbar a.active {
    color: #fafafacc;
    text-shadow: 0 0 15px #fdfcfba1, 0 0 25px #fefbf7a1, 0 0 35px #f4f4f3a1;
    
}



#menu-icon {
    position: relative;
    font-size: 3.5rem;
    color: #b4b3b296;
    cursor: pointer;
    display: none;
}


section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}


.home {
    /* margin-left: 0px;
    margin-top: 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 90vh; */
    padding: 0 9%; }

.topline {
display: block; 
position: relative;
font-size: 40px;
letter-spacing: 5px;
color: rgb(255, 255, 255);
}

.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #bba58ecb;
}

.home-content {
    max-width: 70rem;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 1.3;
}


audio {
    height: 40px;
    width: 250px; /* Dostosuj szerokość odtwarzacza według potrzeb */
    background-color: #1d1e23; /* Kolor tła odtwarzacza */
    color:  #bba58ecb; /* Kolor tekstu w odtwarzaczu */
    border: none; /* Usuń obramowanie */
    outline: none; /* Usuń obramowanie na fokusie */
    margin-left: 1rem;
    display: flex;
      align-items: left;
      margin-left: auto;
  }

  audio::-webkit-media-controls-panel {
    background-color:  #bba58ecb; /* Kolor tła obszaru odtwarzacza */
    color: white; /* Kolor tekstu w obszarze odtwarzacza */
  }

  audio::-webkit-media-controls-play-button {
    background-color: transparent; /* Przezroczyste tło przycisku play */
    color: white; /* Kolor ikony przycisku play */
    border: none; /* Usuń obramowanie przycisku play */
  }

  

  audio::-webkit-media-controls-panel {
    display: flex;
    
    align-items: center;
    /* Kolor tła obszaru odtwarzacza */
    color: transparent; /* Kolor tekstu w obszarze odtwarzacza */
    padding: 5px; /* Dodaj odstępy wokół przycisków */
  }
/* .home-content h1 span {
    color: whitesmoke;
} */

 /* Ukryj większość kontrolek, pozostawiając tylko przyciski play i głośność */
 audio::-webkit-media-controls-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26211c99; /* Kolor tła obszaru odtwarzacza */
    color: white; /* Kolor tekstu w obszarze odtwarzacza */
    padding: 5px; /* Dodaj odstępy wokół przycisków */
  }

  /* audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-mute-button {
    display: inline-block;
  }

  
  audio::-webkit-media-controls-timeline,
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display,
  audio::-webkit-media-controls-fullscreen-button {
    display: none;
  } */

  


.home-content .text-animate {
    position: relative;
    font-size: 3.9rem;
    font-weight: 700;
    /* width: 32rem; */
    
}

.home-content p {
    position: relative;
    font-size: 1.8rem;
    margin: 1rem 0 3rem;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    
    
}


.text-animate {
    position: relative;
    overflow: hidden;
    font-size: 36px;
    font-weight: 600;
    min-width: 500px;
    margin-top: 0px;
    white-space: nowrap;
} 
 .text-animate {
    padding-top: 0; } 

    

 .text-animate span{
    position: relative;
    
}

.text-animate span::before{
    content: "#";
    color: #bba58ecb;
    animation: words 15s infinite;
}

.text-animate span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #1d1e23;
    border-left: 2px solid #e4d7d3;
    right: -8px;
    animation: cursor .5s infinite, typing 25s steps(40) infinite;
    
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%, 33.33% {
        content: "Software Tester";
    }
    33.34%, 66.66% {
        content: "Future Frontend Developer";
    }
    66.67%, 100% {
        content: "Gamer";
    }
}


@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}  

.icon-box {
    position: absolute;
    bottom: 4rem;
    width: 350px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.icon-box a {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    background: transparent;
    color: #b7ab9f96;
    transition: color 0.6s ease-in-out; /* Dodane płynne przejście koloru */
}

.icon-box a:hover {
    color: #fffefdcb;
}

    




    
    
    @keyframes animate {
        0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
            color: #faf8f8;
            text-shadow: none;
        }
        18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
            color: #f0e6e6;
            text-shadow: 0 0 10px #f1ecec,
                          0 0 20px #f3eaea,
                          0 0 40px #f5f0f0,
                          0 0 80px #f5f0f0,
                          0 0 160px #f8f8f8;
        }
    }


.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 6rem;
    padding-top: 10px;
    margin-top: -15px;
    
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 100%;
    background:#827e7eef;
    border: .2rem solid rgba(251, 247, 247, 0.075);
    border-radius: .9rem;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .1rem;
    color: #1d1e23;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    

}

.btn-box .btn:hover {
    color:#827e7eef;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #d3d6e9b4;
}

.btn-box .btn:nth-child(2):hover {
    color: #535050ef;
}

.btn-box .btn:nth-child(2)::before {
    background: #171717;
}


.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1d1e23;
    z-index: -1;
    transition: .8s;

}

.btn-box .btn:hover::before {
    width: 100%;
}


.github {
    text-shadow: 0 0 5px #faf7f3, 0 0 10px #ffffff, 0 0 10px #ffffff;
    color: rgb(255, 255, 255);
    font-size: 25px;
    transition: all 0.6s ease-in-out; /* Dodane płynne przejście */
    cursor: pointer; /* Dodane efekt kursora */
    font-weight: 600;
}

.github:hover {
    text-shadow: 0 0 5px #f5a032, 0 0 10px #f59e24, 0 0 15px #ed7834;
    color: #ebad6acc; /* Zmiana koloru przy najechaniu na link */
}

.imgi {
    position: relative;
    max-width: 105%;
    height: auto;
    opacity: 0.70;
    overflow: hidden;
    /* box-shadow: rgba(245, 4, 4, 10); */
    border-radius: 45%;
    margin-top: -20px;
 }

.backlit-box {
    position: relative;
    
    line-height: 30vw;
    text-align: center;
    color: #22252a;
    border-radius: 50%;
    width: 550px;
    height: 750px;
    background-size: cover;
    background-position: center center;
    margin: 5px;
    
  }
  
  .backlit-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1.2);
    filter: blur(8vw); 
    background: linear-gradient(270deg, #8f158fda, #f19e3e, #591a91ef); 
    background-size:300% 300%;
    animation: animateGlow 8s ease infinite;
  }

  .imgi {
    transition: opacity 0.3s ease-in-out;
}

.imgi:hover {
    opacity: 1;
}

 
  
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 6rem;
    background: #3f4243;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.heading6 {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}


 .heading1 {
    position: relative;
    font-size: 5rem;
    margin-bottom: 10rem;
    text-align: center;
    margin-top: 25rem;
}

.skills {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
.heading3 {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 5rem;
} 
.heading5 {
    position: relative;
    font-size: 5rem;
    margin-bottom:-5rem;
    text-align: center;
    /* margin-top: rem; */
} 

.description h2 {
    text-shadow: 0 0 15px  #faf7f3a1, 0 0 25px  #ffffffa1, 0 0 35px  #ffffffa1;
}

.portfolio {
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #3f4243;
    
}

.portfolio h2 {
    display: inline-block;
    text-align: center;
    
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

span {
    color: #fdb063;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.80;
    border: 3px solid #fdb063;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    opacity: 0.80;
    /* border: 3px solid #f88c4e; */
    /* border: .3rem solid #fab066c5; */

}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1.3);
    filter: blur(2vw); /* Adjust the blur amount */
    background: linear-gradient(270deg, #9036c7da, #f19e3e, #827e82ef); /* Adjust gradient colors */
    background-size: 200% 200%;
    animation: animateGlow 5s ease infinite;
    border-radius: 50%;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    /* border: .3rem solid #fab066c5; */
}
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(253, 176, 99, 0.8);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 25px rgba(253, 176, 99, 0.9);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(253, 176, 99, 0.8);
    }
}

.about-img {
    /* ... (your existing styles) */
    animation: pulse 6s infinite; /* Adjust the duration as needed */
}



.about-content {
    text-align: center;
}

.about-content p {
    position: relative;
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
        display: inline-block;
        width: 15rem;
        
        
        
}

/* .btn-submit {} */




.container1{

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    /* box-shadow: 0 8px 25px 0 rgba(248, 173, 97, 0.491); */
    width: 100%;
    
    padding: 20px 16px;
    margin-top: 65px;
    background-color: rgba(237, 209, 132, 0.06);
    
    
    
 
}

.container1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1);
    filter: blur(7vw); /* Adjust the blur amount */
    background: linear-gradient(300deg, #3c324090, #9f85667d); /* Adjust gradient colors */
    background-size: 300% 300%;
    animation: animateGlow 5s ease-out;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    flex-direction: column;
    position: relative; /* Dodaj position: relative, aby pseudo-element :after był względem tego elementu */
}

.wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(9vw);
    background: linear-gradient(270deg, #e7a1e7da, #6e38818c, #7f3de1ef);
    background-size: 300% 300%;
    animation: animateGlow 8s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
  
  
  .point {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; 
    
  }
  
  
  
  
  
  .descriptions-container {
    width: 50%; /* Adjust the width as needed */
    margin-top: 50px;
    margin-left: 90px;
    font-size: 2rem;
    background: rgba(93, 53, 53, 0); /* Tło z niewielką przezroczystością (fallback dla starszych przeglądarek) */
    padding: 20px; /* Dodaj padding dla lepszego wyglądu */
    border-radius: 10px; /* Zaokrąglij rogi */
    backdrop-filter: blur(20px); /* Ustawienie efektu szkła */
    box-shadow: 20px 20px 25px rgba(23, 22, 22, 0.982);
  }
  
  /* Dodatkowe style dla czytelności */
  .point .info {
    display: none; /* Ukryj dodatkowe informacje o ikonie */
  }
  
  .descriptions-container .description {
    display: none; /* Ukryj wszystkie opisy na początku */
  }
  
  /* Dodaj animację dla efektu fade-in */
  .description {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  
  
.point {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 70px;
    cursor: pointer;
    
  }

  :root {
    --keyword-color: #08a38f;  /* Kolor dla słów kluczowych (np. if, else, var) */
    --string-color: #faefff;   /* Kolor dla ciągów znaków */
    --number-color: #f30808;   /* Kolor dla liczb */
    --comment-color: #e1e1e1;     /* Kolor dla komentarzy */
}
.imgpostman {
    background-color: white;
    border-radius: 60%;
    padding: 1px;
}
.cypress {
    max-width: 100%;
 
}
  code {
    color: #ffffff;  /* Kolor tekstu domyślnego */
    font-family: 'Courier New', monospace;  /* Styl czcionki monoszerokiej */
    display: block;  /* Make the <code> element a block to contain other elements */
    margin: 10px 0;  /* Add some margin for spacing */
    padding: 10px;  /* Add padding for better readability */
    
    border-radius: 5px;  /* Add rounded corners */
}

/* Stylowanie poszczególnych składników kodu */
code .keyword {
    color: var(--keyword-color);
}

code .string {
    color: var(--string-color);
}

code .number {
    color: var(--number-color);
}

code .comment {
    color: var(--comment-color);
    font-style: italic;
}

  
  .icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-bottom: 20px;
    transition: color 0.8s ease-in-out;
}

.icon:hover {
    
    animation: rotateIcon 1s ease-in-out forwards;
}



.icon.active {
    animation: pulseIcon 1s infinite;
}


@keyframes pulseIcon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
  
  .info {
    text-align: center;
  }
  
  
  .container1 * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-weight: 500;
  }
  
  h2 {
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  
  .skills:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .bar {
    position: relative;
    background-color: rgba(245, 164, 89, 0.06);
    border: 1px solid rgba(245, 179, 104, 0.06);
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(252, 173, 3, 0.8); /* Dodaj efekt neonowego koloru */
  }
  
  .bar div {
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #fcaa67;
    border: 1px solid #f17d11;
    box-shadow: 0 0 5px rgba(222, 231, 237, 2);
  }

.container1 *{
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    font-weight: 500;
}
h2{
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    background-color: rgba(245, 164, 89, 0.06);
    border: 1px solid rgba(245, 179, 104, 0.06);
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.bar div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #fcaa67;
    border: 1px solid #f17d11;
    box-shadow: 0 0 5px rgba(222, 231, 237, 2);
}





.contact {
    min-height: auto;
    padding-bottom: 28rem;
}

.contact h2 {
    display: inline-block;
}

.contact form {
    min-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}


.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      font-size: 1.6rem;
      color: rgb(0, 0, 0);
      background: transparent;
      border-radius: .6rem;
      border: .3rem solid #bba58ecb;
}


.contact form .input-box .input-field input::placeholder
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}



.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(179, 165, 165);
    border-radius: .6rem;
    z-index: -1;
    transition: .3s;

}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}


.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);

}

.footer-text {
    font-size:  1.5rem;
}




/* BREAKPOINTS */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: rgba(0,0,0, .2);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background:rgba(0, 0, 0, 0.715);
        box-sizing: 0 .5rem 1rem rgba(0,0,0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        
        left: 0;
        transition-delay: 0s;

    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(0,0,0, .2);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
}


@media (max-width: 520px){
    html {
        font-size: 40%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
        

        }


        .home-sci {
            width: 160px;
        }

        .home-sci a {
            width: 38px;
            height: 38px;
        }
}


@media (max-width: 462px) {
    .home-content h1 {
        font-size: 4.5rem;
    }

    .contact form .input-box .input-field {
        width: 60%;
    }

    

    
}

@media (max-width: 430px) {

    html {
        font-size: 35%;
        
    }
    .home {
        justify-content: center;
        
        
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .home-content h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      align-items: center; /* Center items vertically */
    }
  
    .icons-container {
      justify-content: center;
    }
  
    .descriptions-container {
      width: 100%; /* Full width for descriptions on small screens */
      margin-top: 20px; /* Adjust spacing as needed */
      margin-left: 0; /* Center descriptions on small screens */
      font-size: 1.5rem;
    }
  
    .point.special1 {
      margin-top: 20px !important; /* Adjust spacing for special points on small screens */
    }
  }

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes showRight {
    100% {
        width: 0;
    }
}



@media (max-width: 375px) {

    html {
        font-size: 35%;
        
    }
    .home {
        justify-content: center;
        
        
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .home-content h1 {
        font-size: 4rem;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes showRight {
    100% {
        width: 0;
    }
}