@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;


}


:root {
    --primary-color: #84c9e4;
    --bg-color: #151b1d;
    --secound-bg-color: #c4cace;
    --text-color: #ededed;
    --main-color:#00abf0; 
}

html {
    font-size: 60%;
    overflow-x: hidden;
}




body {
    background: var(--bg-color);
    color: var(--text-color);
    
    background: #1d1e23;
    

    
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 4%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}




.logo {
    
    padding-top: 15px;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
} 

.navbar {
    position: fixed;
    top: 0;
    right: 10px;
    
    padding: 30px 40px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    
}

.navbar a {
    position: relative;
    font-size: 2.3rem;
    color: hsla(0, 23%, 94%, 0.911);
    font-weight: 600;
    text-decoration: none;
    margin-left: 3.5rem;
    letter-spacing: 1px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #cab49fb0;
    transition: .6s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a:hover {
    color:  #bba693a8; 
    transition: 0.4s;
    
    
}



#menu-icon {
    font-size: 3.6rem;
    color: #b4b3b296;
    cursor: pointer;
    display: none;
}


section {
    min-height: 100vh;
    padding: 10rem 14% 2rem;

}


.home {
    margin-left: 60px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    /* padding: 0 9%; */
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 1.3;
}


.home-content .text-animate {
    position: relative;
    font-size: 3.9rem;
    font-weight: 700;
    /* width: 32rem; */
    
}

.home-content p {
    font-size: 1.8rem;
    margin-top: 3rem 0 6rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 0 10px #f0e7e78a, 0 0 20px #fdfdfd80, 0 0 30px #e0c6c6;
}


.text-animate {
    font-size: 36px;
    font-weight: 600;
    min-width: 280px;
    margin-top: 0px;
} 
 .text-animate {
    padding-top: 0; } 

    

 .text-animate span{
    position: relative;
    
}

.text-animate span::before{
    content: "#";
    color: #bba58ecb;
    animation: words 15s infinite;
}

.text-animate span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #1D1E23;
    border-left: 2px solid #e4d7d3;
    right: -8px;
    animation: cursor .8s infinite, typing 25s steps(35) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%, 33.33% {
        content: "Software Tester";
    }
    33.34%, 66.66% {
        content: "Frontend Developer";
    }
    66.67%, 100% {
        content: "Gamer";
    }
}


@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}  

.icon-box {
    position: absolute;
    bottom: 4rem;
    width: 210px;
    display: flex;
    justify-content: space-between;
    font-size:35px;

}

.icon-box a {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    
    
}

.icon-box a {
    color: #b7ab9f96;
}

.icon-box a:hover {
    color: #fffefdcb;
}


    




    .text-deco {
        position: static;
        font-size: 30px;
        width: 100%;
        color: #e58c8a;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
        line-height: 0.70em;
        outline: none;
        animation: animate 4s linear infinite; 
    }
    
    .text-deco::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }
    
    .text-deco p {
        -webkit-box-reflect: none;
    }
    
    @keyframes animate {
        0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
            color: #faf8f8;
            text-shadow: none;
        }
        18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
            color: #f0e6e6;
            text-shadow: 0 0 10px #f1ecec,
                          0 0 20px #f3eaea,
                          0 0 40px #f5f0f0,
                          0 0 80px #f5f0f0,
                          0 0 160px #f8f8f8;
        }
    }


.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 100%;
    background:#655c53;
    border: .2rem solid rgba(230, 226, 226, 0.075);
    border-radius: .8rem;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .1rem;
    color: whitesmoke;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    

}

.btn-box .btn:hover {
    color: rgb(253, 255, 255);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #b7ab9f96;
}

.btn-box .btn:nth-child(2):hover {
    color: #b7ab9f96;
}

.btn-box .btn:nth-child(2)::before {
    background: #b7ab9f96;
}


.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b7ab9f96;
    z-index: -1;
    transition: .8s;

}

.btn-box .btn:hover::before {
    width: 100%;
}



.blob{
    
    background-image: url(/images/hjibhk.jpg);
    width: 500px;
    height: 650px;
    background-size: cover;
    -webkit-background-position: cover;
    background-position: center center;
    margin: 10px;
    box-shadow: 0 5px 5px 5px #79706796;
    animation: animate1 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate1 {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
   100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 6rem;
}

.heading {
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: #f8c3a0b9;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #b7ab9f96;

}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid chocolate;
    border-bottom: .2rem solid chocolate;
    border-left: .2rem solid #b7ab9f96;
    border-right: .2rem solid #b7ab9f96;
}