@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}


:root {
    --primary-color: #84c9e4;
    --bg-color: #d9dcdd;
    --secound-bg-color: #c4cace;
    --text-color: #ededed;
    --main-color:#00abf0; 
}

html {
    font-size: 60%;
    overflow-x: hidden;
}




body {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #1D1E23;
    

    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
   
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color)
}


.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 700;
}




#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
}


section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}



.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "#";
    color: #78aaeca9;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #1D1E23;
    border-left: 2px solid #e4d7d3;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Software Tester";
    }
    21%,40%{
        content: "Frontend Developer";
    }
    41%,60%{
        content: "Developer";
    }
    61%,80%{
        content: "Designer";
    }
    81%,100%{
        content: "Gamer";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
} */

